<header>
    <div class="headerFlex">
        <h1 class="title">Auction House</h1>
        <div class="menuDiv">
            <div class="container" onclick="openNav()" onmouseover="myFunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>
        <button onclick="location.href='/users/login'" type="button" class="login">Logowanie</button>
        <button onclick="location.href='/users/registration'" type="button" class="registration">Rejestracja</button>
    </div>
</header>