<aside>
    <nav id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/auctions/listOfAuctionsUser">Licytacje</a>
        <a href="/products/myProducts">Moje produkty</a>
        <a href="/products/putUpProducts">Wystawione</a>
        <a href="/auctions/auctionedProducts">Licytowane</a>
        <a href="/users/myDetails">Moje dane</a>
        <a href="/users/logout">Wyloguj</a>
    </nav>
</aside>