<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/contact.css">
    <title>About Us</title>
</head>
<body>
<div class="wrap">
    <%- include('./partials/header') -%>

    <main>
        <%- include('./partials/userNav') -%>




        <div class="contactFlex">
            <label class="h1">O nas</label>
            <p>Istniejemy od 1999 roku, kiedy holenderski przedsiębiorca Arjan Bakker
                <br>założył serwis aukcyjny Allegro.
                Przyjmuje się, że wtedy rozpoczął się polski
                <br>e-commerce. Od początku przyświeca nam ten sam cel – radość
                kupowania
                <br>i sprzedawania online. Pozwalamy zaoszczędzić czas, dajemy wygodę,
                <br>największy wybór produktów w
                polskiej sieci. Zmieniamy życie ludzi na lepsze.
                <br>To daje nam olbrzymią satysfakcję</p>
            <p>W ciągu ostatnich 20 lat platforma handlowa Allegro zdobyła rynek i Wasze zaufanie,
                <br>a Wy – naszą niesłabnącą sympatię :) W lipcu 2003 zdobyliśmy
                <br>także nasz najważniejszy milion – pierwszy milion Allegrowiczów.
                <br>Dzisiaj społeczność Allegro to ponad 21 mln zarejestrowanych klientów.
                <br>Dużo, ale wciąż rośniemy i nieustannie się zmieniamy.</p>
        </div>
    </main>

    <%- include('./partials/footerUser') -%>
    <%- include('./partials/scriptNav') -%>
