.title{
  order: 1;
  margin-left: 31vw;
  flex-grow: 20;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lucida Handwriting", arial, sans-serif;
  font-size: 3vw;
  color: #330000;
}

.container div {
  width: 40px;
  height: 8px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.2s;
}


.change .bar1 {
  width: 40px;
  height: 8px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.2s;
}

.change .bar2 {
  width: 30px;
  height: 8px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.2s;
}

.change .bar3 {
  width: 20px;
  height: 8px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.2s;
}

.container{
  cursor:pointer;
}

.headerFlex {
  display: flex;
  flex-direction: row;
}

.menuDiv {
  display: flex;
  order: 0;
  justify-content: center;
  padding: 20px;
  flex-grow: 1;
  margin-left: 0.55vw;
}

.login {
  order: 2;
  margin-top: 1vh;
  margin-right: 2vw;
  height: 3.1vh;
  width: 7.03vw;
  font-family: "Comic Sans MS";
  font-size: 0.8vw;
}

.logout {
  order: 2;
  margin-top: 1vh;
  margin-right: 2vw;
  height: 3.1vh;
  width: 7.03vw;
  font-family: "Comic Sans MS";
  font-size: 0.8vw;
}

.registration {
  order: 3;
  margin-top: 1vh;
  margin-right: 2vw;
  height: 3.1vh;
  width: 7.03vw;
  font-family: "Comic Sans MS";
  font-size: 0.8vw;
}

/* MENU - SIDEBAR */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 70px;
}

.sidenav a {
  margin: 8px;
  padding: 0.25vw 1vw;
  text-decoration: none;
  font-size: 1.5vw;
  font-family: "Lucida Handwriting", arial, sans-serif;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  margin-left: 1vw;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* MAIN */

.mainFlex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20vw;
  height: 72vh;
}

.firstFlex{
  display: flex;
  flex-direction: column;
  width: 30%;
}


.labelFlex{
  font-size: 100%;
  font-family: "Comic Sans MS";
}

.bigImg {
  border: #222222 solid 0.15vh;
  display: flex;
  margin-top: 1vh;
  margin-bottom: 3vh;
  width: 60%;
  height: 25vh;
}

.imgFlex{
  display: flex;
  width: 60%;
  height: 10vh;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 3vh;
}

.imgFlex img{
  width: 34%;
}

.img1 {
  border: #222222 solid 0.01vw;
}

.img2 {
  border-top: #222222 solid 0.01vw;
  border-bottom: #222222 solid 0.01vw;
}

.img3 {
  border: #222222 solid 0.01vw;
}

.section2 {
  display: flex;
  flex-direction: column;
  height: 50%;
}

.section2 div label {
  margin-bottom: 10vh;
}

.description {
  font-family: "Comic Sans MS";
  font-size: 100%;
  margin-bottom: 2vh;
}

.section2 button {
  padding: 2px;
  margin-top: 3vh;
  width: 35%;
  font-family: "Comic Sans MS";
  font-size: 80%;
}

.secondFlex {
  width: 60%;
  margin-right: 5vw;
}

.section3 {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.bidding {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.formFlex {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  width: 10vw;
  align-items: center;

}

.formFlex input {
  padding: 5px;
}

.formFlex button {
  margin-top: 1vh;
  font-family: "Comic Sans MS";
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.bidding .labelFlex {
  margin-top: 1vh;
}

.listOffers{
  display: flex;
  margin-top: 7vh;
  justify-content: flex-end;
}

.listOffers button{
  font-family: "Comic Sans MS";
}

.descProduct {
  display: flex;
  border: #222222 solid 0.15vw;
  margin-top: 2vh;
  height: 41.2vh;
  padding: 5px;
}

.errors-list{
  font-size: 1vh;
}


/* FOOTER */

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  height: 4vh;
  border-top: 0.2vh solid #111111;

}

footer a {
  font-family: "Comic Sans MS";
  margin-top: 1vh;
  text-decoration: none;
  color: #222222;
}

.a1, .a2 {
  margin-right: 3vw;
}

.a3 {
  margin-right: 7vw;
}

.wrap {
  min-height: 100%;
}
