.title{
    order: 1;
    flex-grow: 20;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Lucida Handwriting", arial, sans-serif;
    font-size: 3vw;
    color: #330000;
}

.container div {
    width: 40px;
    height: 8px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.2s;
}


.change .bar1 {
    width: 40px;
    height: 8px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.2s;
}

.change .bar2 {
    width: 30px;
    height: 8px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.2s;
}

.change .bar3 {
    width: 20px;
    height: 8px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.2s;
}

.container{
    cursor:pointer;
}

.headerFlex {
    display: flex;
    flex-direction: row;
}

.menuDiv {
    display: flex;
    order: 0;
    justify-content: center;
    padding: 20px;
    flex-grow: 1;
}


/* MENU - SIDEBAR */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
}

.sidenav a {
    margin: 8px;
    padding: 0.25vw 1vw;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: "Lucida Handwriting", arial, sans-serif;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    margin-left: 1vw;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* MAIN */

.mainFlex {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 70vh;
    margin-left: 15vw;
    justify-content: space-between;
}

.registrationFlex {

    display: flex;
    margin-left: 11vw;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
    height: 80vh;
}

.registrationFlex h1 {
    font-family: "Serif";
    margin-left: 21vw;
    margin-right: 10vw;
    font-size: 2.3vw;
    font-style: italic;

}

.formFlex {
    display: flex;
    width: 60%;
    height: 85%;
    flex-direction: column;
    align-items: flex-end;
}

.formFlex label {
    padding: 8px;
    font-family: "Comic Sans MS";
    font-size: 1.2vw;
}

.formFlex label input {
    width: 15vw;
    font-size: 1vw;
}

.formFlex input[type="text"]{
    padding: 2.5px;
}

.formFlex input[type="password"]{
    padding: 2.5px;
}

.formFlex .registerButton {
    padding: 5px;
    margin: 8px;
    margin-right: 3vw;
    font-family: "Comic Sans MS";
    font-size: 1.2vw;
}

.formFlex span {
    margin-right: 2vw;
}

.formFlex div {
    display: flex;
    flex-direction: column;
}

/* VALIDATION */

.errors-input {
    border: 3px solid #e74c3c;
}
.errors-text {
    font-size: 0.85em;
}
.errors-text,
.required {
    color: #e74c3c;
}

.required:after { content:" *"; }

/*******/

.imgFlex {
    display: flex;
    margin-right: 12vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img1Flex, .img2Flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.img1, .img2 {
    background-color: yellow;
    width: 13vw;
    height: 23vh;
}

.info1, .info2 {
    padding: 5px;
}


